body {
    margin: 0;
    font-family: sans-serif;
}

table{
    width:500px;
    font:normal 13px Arial;
    text-align:center;
    border-collapse:collapse;
    align-items: center;
}

#agregarUsuario {
  visibility: hidden;
}

#tablaUsuarios{
  visibility: hidden;
}
