{% extends 'base.html' %}

{% block head %}
<title>Agregar Especie</title>
{% endblock %}

{% block body %}<!--@submit.prevent="processForm"   -->
<!-- Modal -->
<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalCenterTitle">¡Error al guardar! </h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body" id="modalPass" style="display:none">
          <p><b>Codigo correlativo:</b> <label id="cCorModal"></label><br>
            <b>Descripcion:</b>         <label id="descModal"></label><br>
            <b>Codigo de barras:</b>    <label id="cBarModal"></label><br>
            <b>Numero de factura:</b>   <label id="nFacModal"></label><br>
            <b>Precio unitario:</b>     <label id="pUniModal"></label><br>
            <b>Precio Total:</b>        <label id="pTotModal"></label><br>
            <b>Fecha de Recepción:</b>  <label id="fRecModal"></label><br>
            <b>Rut del Proveedor:</b>   <label id="rProModal"></label><br>
            <b>Recursos:</b>            <label id="cCosModal"></label><br>
            <b>Ubicacion:</b>           <label id="ubicModal"></label></p>
      </div>
      <div class="modal-body" id="modalFail" style="display:none">
          <p><b>Debe ingresar todos los campos</b>, campo que falta:  <input id="fieldFail" class="form-control form-control-sm" aria-readonly="true"></p>
      </div>
      <div class="modal-body" id="savePass" style="display:none">
          <p><b>Este mensaje se cerrará automaticamente...</b></p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" id="modalCancel" data-dismiss="modal"style="display:block">Cancelar</button>
        <button type="input" form="newItem" class="btn btn-primary" onclick="savePass()" id="btnCrear" style="display:none">Confirmar</button>
        <button type="button" class="btn btn-primary" id="btnOk" data-dismiss="modal" onclick="modalReset()" style="display:none">Aceptar</button>
      </div>
    </div>
  </div>
</div>

<!-- FORM -->
<div class="row" style="width:100%;">

  <div class="col-2" style="margin-top:2%;">
    <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
      <a class="nav-link active" id="v-pills-create-tab" data-toggle="pill" href="#v-pills-create" role="tab" aria-controls="v-pills-create" aria-selected="true">Crear</a>
      <a class="nav-link" id="v-pills-modify-tab" data-toggle="pill" href="#v-pills-modify"  onclick="location.href='modifyItem.html'" role="tab" aria-controls="v-pills-modify" aria-selected="false">Buscar</a>
      <a class="nav-link" id="v-pills-messages-tab" data-toggle="pill" href="#v-pills-list" role="tab" aria-controls="v-pills-messages" aria-selected="false">Listar inventario</a>
      <a class="nav-link" id="v-pills-list-tab" data-toggle="pill" href="#v-pills-back" onclick="location.href='/'" role="tab" aria-controls="v-pills-list" aria-selected="false">Volver</a>
    </div>
  </div>
  <div class="col-9" style="margin-top:2%;">

    <div class="tab-content" id="v-pills-tabContent">
        <!-- CREAR ITEM -->
      <div class="tab-pane fade show active" id="v-pills-create" role="tabpanel" aria-labelledby="v-pills-create-tab">

        <form method="POST" action="/addItem.html" name="newItem" id="newItem">
            <div class="form-group row">
                <label for="codCor" class="col-sm-2 col-form-label col-form-label-sm">Codigo correlativo</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control form-control-sm" id="codCor" value="{{cod}}" readonly name="codCor">
                    </div>
            </div>
            <div class="form-group row">
                <label for="especie" class="col-sm-2 col-form-label col-form-label-sm">Descripción</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control form-control-sm" id="especie" placeholder="Descripcion de la especie." name="especie">
                    </div>
            </div>
            <div class="form-group row">
                <label for="codigo_barra" class="col-sm-2 col-form-label col-form-label-sm">Código de barras</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control form-control-sm" id="codigo_barra" placeholder="" name="codigo_barra">
                    </div>
            </div>
            <div class="form-group row">
                <label for="numero_factura" class="col-sm-2 col-form-label col-form-label-sm">Número de factura</label>
                    <div class="col-sm-10">
                        <input type="number" class="form-control form-control-sm" id="numero_factura" name="numero_factura" placeholder="Factura asociada a la especie.">
                    </div>
            </div>
            <div class="form-group row">
                <label for="precio_unitario" class="col-sm-2 col-form-label col-form-label-sm">Precio unitario</label>
                    <div class="col-sm-10">
                        <input type="number" class="form-control form-control-sm" id="precio_unitario" name="precio_unitario" placeholder="Precio de la especie.">
                    </div>
            </div>
            <div class="form-group row">
                <label for="precio_total" class="col-sm-2 col-form-label col-form-label-sm">Precio Total</label>
                    <div class="col-sm-10">
                        <input type="number" class="form-control form-control-sm" id="precio_total" name="precio_total" placeholder="Precio total de la compra.">
                    </div>
            </div>
            <div class="form-group row">
                <label for="fecha_recepcion" class="col-sm-2 col-form-label col-form-label-sm">Fecha de recepción</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control form-control-sm" id="fecha_recepcion" name="fecha_recepcion" placeholder="Fecha en la que se recibio la especie.">
                    </div>
            </div>
            <div class="form-group row">
                <label for="rut_proveedor" class="col-sm-2 col-form-label col-form-label-sm">Rut del proveedor</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control form-control-sm" id="rut_proveedor" name="rut_proveedor" placeholder="Rut sin punto con guión.">
                    </div>
            </div>
            <div class="form-group row">
                <label for="centro_de_costo" class="col-sm-2 col-form-label col-form-label-sm">Recursos</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control form-control-sm" id="centro_de_costo" name="centro_de_costo" placeholder="Centro de costos.">
                    </div>
            </div>
            <div class="form-group row">
                <label for="ubicacion_actual" class="col-sm-2 col-form-label col-form-label-sm">Ubicación actual</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control form-control-sm" id="ubicacion_actual" name="ubicacion_actual" placeholder="Ubicación en la que se encuentra la especie.">
                    </div>
            </div>
            <div class="form-group row">
                <label for="observaciones" class="col-sm-2 col-form-label col-form-label-sm">Observaciones</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control form-control-sm" id="observaciones" name="observaciones" placeholder="">
                    </div>
            </div>

            <fieldset class="form-group">
                <div class="row">
                <legend class="col-form-label col-sm-2 pt-0">Estado</legend>
                    <div class="col-sm-10">
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="estado" id="estadoB" value="B" checked>
                            <label class="form-check-label" for="estadoB">
                                Bueno
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="estado" id="estadoM" value="M">
                            <label class="form-check-label" for="estadoM">
                                Malo
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="estado" id="estadoR" value="R">
                            <label class="form-check-label" for="estadoR">
                                Regular
                            </label>
                        </div>
                    </div>
                </div>
            </fieldset>
        </form>
        <div align="center">
            <button class="btn btn-secondary" onclick="location.href='/'">Cancelar</button>
            <button type="button" class="btn btn-primary" data-toggle="modal"
            data-target="#exampleModalCenter" id="guardar" onclick="valData()"> Guardar </button>
        </div>
  </div>
        <!-- FIN CREAR ITEM -->

      <div class="tab-pane fade" id="v-pills-modify" role="tabpanel" aria-labelledby="v-pills-modify-tab"></div>
      <div class="tab-pane fade" id="v-pills-list" role="tabpanel" aria-labelledby="v-pills-list-tab"></div>
      <div class="tab-pane fade" id="v-pills-back" role="tabpanel" aria-labelledby="v-pills-back-tab"></div>
    </div>
  </div>
</div>


<script>

    function savePass(){
        $('#modalPass').css('display', 'none');
        $('#savePass').css('display', 'block');
        $('#modalCancel').css('display', 'none');
        document.getElementById('exampleModalCenterTitle').innerHTML = '¡Especie creada exitosamente!';
        setTimeout(2000);
    }
    function modalReset(){
        $('#modalFail').css('display', 'none');
        $('#modalPass').css('display', 'none');
        $('#savePass').css('display', 'none');
        $('#btnOk').css('display', 'none');
        $('#btnCrear').css('display', 'none');
    }
    function valData() {
        modalReset();
      if ($('#especie').val().length < 1) {
            $('#modalFail').css('display', 'block');
            $('#btnOk').css('display', 'block');
            $('#fieldFail').val('Descripcion.');
            return false;
      }else if ($('#codigo_barra').val().length < 1) {
            $('#modalFail').css('display', 'block');
            $('#btnOk').css('display', 'block');
            $('#fieldFail').val('Codigo de barras.');
            return false;
      }else if ($('#numero_factura').val().length < 1) {
            $('#modalFail').css('display', 'block');
            $('#btnOk').css('display', 'block');
            $('#fieldFail').val('Numero de factura.');
            return false;
      }else if ($('#precio_unitario').val().length < 1) {
            $('#modalFail').css('display', 'block');
            $('#btnOk').css('display', 'block');
            $('#fieldFail').val('Precio unitario.');
            return false;
      }else if ($('#precio_total').val().length < 1) {
            $('#modalFail').css('display', 'block');
            $('#btnOk').css('display', 'block');
            $('#fieldFail').val('Precio total.');
            return false;
      }else if ($('#fecha_recepcion').val().length < 1) {
            $('#modalFail').css('display', 'block');
            $('#btnOk').css('display', 'block');
            $('#fieldFail').val('Fecha de recepción.');
            return false;
      }else if ($('#rut_proveedor').val().length < 1) {
            $('#modalFail').css('display', 'block');
            $('#btnOk').css('display', 'block');
            $('#fieldFail').val('Rut de proveedor.');
            return false;
      }else if ($('#centro_de_costo').val().length < 1) {
            $('#modalFail').css('display', 'block');
            $('#btnOk').css('display', 'block');
            $('#fieldFail').val('Centro de costos.');
            return false;
      }else if ($('#ubicacion_actual').val().length < 1) {
            $('#modalFail').css('display', 'block');
            $('#btnOk').css('display', 'block');
            $('#fieldFail').val('Ubicación actual.');
            return false;
      }else{
            let cco = document.forms["newItem"]["codCor"].value;
            let esp = document.forms["newItem"]["especie"].value;
            let nfa = document.forms["newItem"]["numero_factura"].value;
            let uac = document.forms["newItem"]["ubicacion_actual"].value;
            let cba = document.forms["newItem"]["codigo_barra"].value;

            let pun = document.forms["newItem"]["precio_unitario"].value;
            let pto = document.forms["newItem"]["precio_total"].value;
            let fre = document.forms["newItem"]["fecha_recepcion"].value;
            let rpr = document.forms["newItem"]["rut_proveedor"].value;
            let cdc = document.forms["newItem"]["centro_de_costo"].value;

            $('#modalPass').css('display', 'block');
            document.getElementById('exampleModalCenterTitle').innerHTML = 'Datos del producto a ingresar:';
            $('#btnCrear').css('display', 'block');
            //$('#cCorModal').val(cco);
            //$('#descModal').val(esp);
            //$('#nFacModal').val(nfa);
            //$('#cBarModal').val(uac);
            //$('#ubicModal').val(cba);
            document.getElementById('cCorModal').innerHTML= cco;
            document.getElementById('descModal').innerHTML= esp;
            document.getElementById('nFacModal').innerHTML= nfa;
            document.getElementById('cBarModal').innerHTML= cba;
            document.getElementById('ubicModal').innerHTML= uac;

            document.getElementById('pUniModal').innerHTML= pun;
            document.getElementById('pTotModal').innerHTML= pto;
            document.getElementById('fRecModal').innerHTML= fre;
            document.getElementById('rProModal').innerHTML= rpr;
            document.getElementById('cCosModal').innerHTML= cdc;
            return true;
      }
    //});
    }
</script>
{% endblock %}