{% extends 'base.html' %}

{% block head %}
<title>Proveedores</title>
{% endblock %}

{% block body %}
<form action="/addProveedores.html" method="POST" name="agregarProv">
  <p>Razon Social: <input type="text" id="razon_social" name="razon_social" size="40"></p>
  <p>Rut: <input type="text" id="rut" name="rut" placeholder="Ej.: 11111111-1"></p>
  <p>Correo Electronico: <input type="email" id="email" name="email"></p>
  <p>Numero Telefonico: <input type="text" id="telefono" name="telefono"></p>
  <p>
  <input onclick="return confirm('Proveedor creado exitosamente')" type="submit" value="Registrar" id="addProveedor" name="addProv">

  </p>
</form>
<div style="margin-left:37.8%">
    <button onclick="location.href='/'">Cancelar</button>
</div>
{% endblock %}