{% extends 'base.html' %}

{% block head %}
<h1 style="text-align: center;" >Bienvenido</h1>
<title>Inicio</title>
{% endblock %}

{% block body %}
<button onclick="location.href='addItem.html'">Agregar Items</button>
<button onclick="location.href='addProveedores.html'">Agregar Proveedores</button>
<button onclick="location.href='usuarios.html'">Usuarios</button>
    <div>
        {% if t %}
            {% for prov in t %}
                <div class="registroProv">
                    <p>Rut: {{t[prov]["rut"]}}</p>
                    <p>Razon Social: {{t[prov]["razonSocial"]}}</p><p>Email: {{t[prov]["email"]}}</p>
                    <p>Telefono: {{t[prov]["telefono"]}}</p><p>Estado: {{t[prov]["estado"]}}</p>
                </div>
            {% endfor %}
        {%else%}
            <div>
                <p>Sin datos.</p>
            </div>
        {% endif %}
    </div>
{%for x in t%}
   <!-- #//{%for j in x%}#//{%endfor%}-->
        <p>que pasa</p>{{t[x]["rut"]}}<br>

{%endfor%}
{{t}}
{% endblock %}
Console.log(newItem)