{% extends 'base.html' %}

{% block head %}
<title>Usuarios</title>
<h1 style="text-align: center;">Usuarios</h1>
{% endblock %}

{% block body %}
<table class="default" id="listado">
  <tr>
    <th>Nombre</th>
    <th>Rut</th>
    <th>Correo Electronico</th>
    <th>Nro. Telefónico</th>
    <th>Acciones</th>
  </tr>
  {% for users in u %}
  <tr>    
        <td>{{u[users]["nombre"]}}</td> 
        <td>{{u[users]["rut"]}}</td>
        <td>{{u[users]["email"]}}</td>
        <td>{{u[users]["telefono"]}}</td>
        <td>
          <input type="submit" value="Eliminar"><br>
          <input type="submit" value="Actualizar">    
        </td>           
  </tr>
  {% endfor %}
</table>

<button onclick="location.href='addUsuarios.html'">Volver</button>
{% endblock %}